* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fraunces', serif;
}

:root {
    --dark-color: #011515;
    --dark-secondary: #022b2a;
    --dark-tertiary: #066c6b;
    --soft-color: #09acab;
    --very-soft: #0cd8d6;
    --font-white: #F5F5F5;
}

/* header */
.nav__navbar-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    height: 50px;
    width: 100%;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #09acab 100%);
}

.nav__navbar-container ul {
    display: flex;
    list-style: none;
}

.nav__navbar-container ul li {
    margin: auto 15px;   
}

.nav__navbar-container ul li a {
    text-decoration: none;
    color: var(--font-white);
}

/* foto,nombre y profesion */

.img-fondo {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(./assets/img/pexels-picjumbocom-196659-large.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.presentation-container {
    display: flex;
    position: absolute;
    top: 150px;
    width: auto;
    

}

.presentation-container .photo {
    background-image: url('./assets/img/foto\ J.jpg');
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 2px solid var(--font-white);

}

.name-profession {
    align-self: end;
    margin: 20px;
    color: var(--soft-color);
    font-size: 1.3rem;
    line-height: 30px;
    
    
    
}
/* seccion de habilidades */

.section__skills-container {
    display: flex;
    flex-direction: column;
    background-color: var(--font-white);
    
}

.section__skills-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 30px;
    color: var(--dark-secondary);

    
}

.skills__icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #09acab 100%);
    

}
.skills__icons-container .item {
    width: 75%;
    height: 75%;
    object-fit: contain;
    border: 1px solid var(--font-white);
    border-radius: 10%;
    transition: all 300ms;
    

}
.skills__icons-container .item:hover {
    transform: scale(1.15);
}



 .html-icon {
   padding: 10px 0 10px 0;


}

.css-icon {
    padding: 10px 0 10px 0;
}

.JS-icon {
    
}

.wordPress {
    padding: 10px 0 10px 0;
    
}




